form{height: auto;}
a{
	text-decoration: none;
	color: inherit;
}
/* nav */
.help_common_nav_wrap{
	margin: 25px auto 70px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 1100px;
}
.help_common_nav_list li{
	float: left;
	color: #9E9E9E;
	font-size: 14px;
}

.help_common_nav_list li > a:hover,
.help_common_content_list > li > a:hover{
	color: #E50020;
}
.help_common_nav_list li::after{
	content: '>';
	margin: 0 4px;
	color: #9E9E9E !import;
}
.help_common_nav_list li:last-child::after{
	content: '';
}
.help_common_search_input{
	position: relative;
}
.help_common_search_input > i{
	position: absolute;
	left: 9px;
    top: 8px;
    color: #656464;
}
.help_common_search_input input{
	border: 1px solid #D1D5D9;
	border-radius: 6px;
	color: #888;
	font-size: 13px;
	height: 30px;
	padding-left: 40px;
	padding-right: 20px;
	margin: auto 0;
	width: 100%;
	outline: none;
}
/* content */
.help_common_content_wrap{
	padding: 25px 0 0 0;
	margin: 0 auto 60px;
	width: 768px;
}
.help_common_content_wrap > h1{
	margin-bottom: 40px;
	text-align: center;
}
/* 기타 */
.highlight{
	display: inline-block;
	margin-left: 4px;
	width: 24px;
	height: 14px;
	line-height: 11px;
	color: red;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
}